@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
*,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

.container {
    margin: auto;
    height: 100vh;
    position: relative;
    max-width: 900px;
}

.telephone {
    position: absolute;
    width: 400px;
    height: 650px;
    margin: auto;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ac/Nexus_5_Front_View.png');
    background-size: cover;
}

.__one {
    left: 0%;
}

.__two {
    left: 50%;
}

.chat-background {
    position: absolute;
    bottom: 12.1%;
    left: 18%;
    z-index: 10;
    background-image: url('https://i.pinimg.com/originals/79/5c/ab/795cabc4647f73b365e2e6eabd0f34dc.png');
    background-size: cover;
    width: 64%;
    height: 72%;
    padding: 1rem;
}

.chat-article {
    position: relative;
}

.article-header {
    padding: .5rem;
    background-color: steelblue;
    overflow: hidden;
}

.user-username {
    float: left;
    margin: 5% 0 0 5%;
    position: relative;
}
.input-username{
  position: absolute;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
}

.user-image {
    margin-left: 15%;
    float: left;
    width: 50px;
}

.chat {
    clear: both;
    width: 100%;
    height: 330px;
    border: 1px solid steelblue;
    overflow-y: scroll;
    position: relative;
}

.form-chat {
    display: flex;
    width: 100%;
    margin: .5rem auto 0;
    justify-content: center;
    align-items: center;
}

.icon {
    z-index: 0;
    width: 12px;
    height: 12px;
    padding: 16px;
    margin-left: .3rem;
    display: inline-block;
    background-size: cover;
    border: none;
    border-radius: 50%;
    position: relative;
}

.icon-camera::before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    display: inline-block;
    background-color: steelblue;
    position: absolute;
    border-radius: 50%;
    left: 0%;
    bottom: 0%;
    background-size: cover;
    background-position: center;
    background-image: url('https://cdn0.iconfinder.com/data/icons/basic-outline/64/icon-basic-set_12-camera-512.png');
}

.icon-submit {
    background-color: steelblue;
    background-position: -1px 2px;
    background-image: url('https://cdn4.iconfinder.com/data/icons/feedback-style-outline/64/feedback_paper_plane-512.png');
}

.input-text {
    width: 70%;
    padding: .3rem .5rem;
    display: inline-block;
}

.inputFile{
  width: 0%;
  height: 0%;
}

.msj {
    color: white;
    clear: both;
    font-size: .9rem;
    display: block;
    width: fit-content;
    max-width: 70%;
    padding: .5rem 1rem;
    margin: .5rem .5rem .3rem;
    border-radius: 10px;
    opacity: 0;
    overflow: hidden;
    animation-name: aparecer;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    transform: translateY(5px);
}

.msj-emisor {
    float: right;
    background-color: rgb(57, 211, 36);
}

.msj-receptor {
    float: left;
    background-color: rgb(36, 176, 211);
}

.file::before {
    content: '';
    display: block;
    background-color: red;
    width: 10px;
    height: 10px;
}

.modal {
    display: none;
    background-color: rgb(57, 211, 36);
    position: absolute;
    left: 0%;
    bottom: 9%;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.modal-display {
    display: flex;
}

.imagen-modal {
    clear: both;
    height: 90%;
    margin: .5rem .3rem ;
    display: block;
    transform-origin: 49% 51%;
}

.cerrar-modal {
    color: white;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: .5rem;
    border-radius: 50%;
    background: none;
    border: 1px solid white;
}

.image {
    margin: .5rem .3rem ;
    display: block;
    width: 100%;
}

.imagen-msj {
    display: block;
    width: 100%;
}

@media screen and (max-width: 760px) {
    .telephone {
        position: relative;
        left: 0%;
    }
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


