/* styles.css */

body {

    font-family: Arial, sans-serif;

    background-color: #c3fce6;

    margin: 36px;

    padding: 37px;

}

header {

    background-color: #c3fce6;

    color: #ffffff;

    padding: 74px;

    margin: 4px;

}

nav ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

}

nav ul li {

    display: inline;

    margin-right: 70px;

}

nav ul li a {

    color: #270830;

    text-decoration: none;

}

main {

    padding: 30px;

}

footer {

    background-color: #c3fce6;

    color: #c3fce6;

    text-align: center;

    padding: 30px;

    position: absolute;

    bottom: 0;

    width: 100%;

}


